/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define VOL_U       &kp C_VOL_UP
#define VOL_D       &kp C_VOL_DN

#define BT0         &bt BT_SEL 0
#define BT1         &bt BT_SEL 1
#define BT2         &bt BT_SEL 2
#define BT3         &bt BT_SEL 3

#define _COLEMAK    0
#define _NUMBER     1
#define _SYMBOL     2
#define _NAV        3
#define _MEDIA      4
#define _FUN        5
#define _MOUSE      6

#define A_GUI       &hm LGUI  A
#define R_ALT       &hm LALT  R
#define S_CTRL      &hm LCTRL S
#define T_SHFT      &hm LSHFT T

#define N_SHFT      &hm LSHFT N
#define E_CTRL      &hm LCTRL E
#define I_ALT       &hm LALT  I
#define O_GUI       &hm LGUI  O

#define SPC_SFT     &hm LSHFT SPC
#define SEMI_SYM    &lt _SYMBOL SEMI
#define Q_NUM       &lt _NUMBER Q
#define W_SYM       &lt _SYMBOL W
#define ESC_NAV     &lt _NAV    ESC
#define ENT_MED     &lt _MEDIA  ENTER
#define V_NAV       &lt _NAV    V
#define M_MED       &lt _MEDIA  M
#define FUNCTION    &mo _FUN

#define PB          &kp PAUSE_BREAK

&kscan0 {
    debounce-period  = <12>;
};

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <185>;
	retro-tap;
};

/ { 

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <20>;
			//               R  S
            key-positions = <11 12>;
            bindings = <&kp ESC>;
            layers = <0>;
        };
        combo_tab {
            timeout-ms = <20>;
			//               S  T
            key-positions = <12 13>;
            bindings = <&kp TAB>;
            layers = <0>;
        };
        combo_ret {
            timeout-ms = <20>;
			//               E  I
            key-positions = <17 18>;
            bindings = <&kp RET>;
            layers = <0>;
        };
        combo_caps_word {
            timeout-ms = <20>;
			//               F P 
            key-positions = <2 3>;
            bindings = <&caps_word>;
            layers = <0 1 2 3 4 5>;
        };
        
    };
    
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        tm: tight_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "TIGHT_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
        sm: shift_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
			retro-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
		colemak_layer {
            label = "COLEMAK";
			bindings = <
                Q_NUM       W_SYM     &kp F     &kp P      &kp G                &kp J       &kp L     &kp U         &kp Y       &kp SEMI
                A_GUI       R_ALT     S_CTRL    T_SHFT     &kp D                &kp H       N_SHFT    E_CTRL        I_ALT       O_GUI
                &kp Z       &kp X     &kp C     V_NAV      &kp B                &kp K       M_MED     &kp COMMA     &kp DOT     &kp FSLH
                                                ESC_NAV    &kp BSPC             SPC_SFT     ENT_MED
			>;
		};

		number_layer {
            label = "NUMBER";
			bindings = <
                &none       &none     &none     &none      &none                &kp LBKT    &kp N7    &kp N8        &kp N9      &kp RBKT
                &kp LGUI    &kp LALT  &kp LCTRL &kp LSHFT  &none                &kp EQUAL   &kp N4    &kp N5        &kp N6      &kp SQT
                &none       &none     &none     &none      &none                &kp BSLH    &kp N1    &kp N2        &kp N3      &kp GRAVE
                                                &none      &trans               &kp N0      &kp MINUS
			>;
		};

		symbol_layer {
            label = "SYMBOL";
			bindings = <
                &none       &none     &none     &none      &none                &kp LBRC    &kp AMPS  &kp STAR      &kp LPAR    &kp RBRC
                &kp LGUI    &kp LALT  &kp LCTRL &kp LSHFT  &none                &kp PLUS    &kp DLLR  &kp PRCNT     &kp CARET   &kp DQT
                &none       &none     &none     &none      &none                &kp PIPE    &kp EXCL  &kp AT        &kp HASH    &kp TILDE
                                                &none      &trans               &kp RPAR    &kp UNDER
			>;
		};

		nav_layer {
            label = "NAV";
			bindings = <
                &none       &none     &none     &none      &none                &none       &none     &none         &none       &none
                &kp LGUI    &kp LALT  &kp LCTRL &kp LSHFT  &none                &kp LEFT    &kp DOWN  &kp UP        &kp RIGHT   &kp CAPS
                &none       &none     &none     FUNCTION   &none                &kp INS     &kp HOME  &kp PGDN      &kp PGUP    &kp END
                                                &none      &none                &none       &none
			>;
		};

		media_layer {
            label = "MEDIA";
			bindings = <
                &none       &none     &none     &none      &none                &none       &none     &none         &none       &none
                &kp C_PREV  VOL_D     VOL_U     &kp C_NEXT &kp C_PP             &none       &none     &none         &none       &none
                &none       &none     &none     &none      &none                &none       &none     &none         &none       &none
                                                &none      &none                &none       &none
			>;
		};

		fun_layer {
            label = "FUNCTION";
			bindings = <
                BT0         BT1       BT2       BT3        &none                &kp F12     &kp F7    &kp F8        &kp F9      &kp PSCRN
                &kp LGUI    &kp LALT  &kp LCTRL &kp LSHFT  &none                &kp F11     &kp F4    &kp F5        &kp F6      &kp SLCK
                &none       &none     &none     &none      &none                &kp F10     &kp F1    &kp F2        &kp F3      PB
                                                &none      &trans               &kp TAB     &none
			>;
		};

		blank_layer {
            label = "BLANK";
			bindings = <
                &none       &none     &none     &none      &none                &none       &none     &none         &none       &none
                &none       &none     &none     &none      &none                &none       &none     &none         &none       &none
                &none       &none     &none     &none      &none                &none       &none     &none         &none       &none
                                                &none      &none                &none       &none
			>;
		};

	};
};
