/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define             _COLEMAK 0
#define             _LOWER   1
#define             _RAISE   2
#define             _ADJUST  3
#define             _NUMPAD  4
#define             _SYMBOL  5

#define COLEMAK     &mo _COLEMAK
#define LOWER       &mo _LOWER
#define RAISE       &mo _RAISE
#define ADJUST      &mo _ADJUST
#define NUMPAD      &mo _NUMPAD
#define SYMBOL      &mo _SYMBOL

#define ESC_LOW     &lt _LOWER ESC
#define RET_RSE     &lt _RAISE RET
#define T_RSE       &lt _RAISE T
#define M_RSE       &lt _RAISE M
#define V_LOW       &lt _LOWER V
#define N_LOW       &lt _LOWER N
#define I_SYM       &lt _SYMBOL I
#define R_NUM       &lt _NUMPAD R

#define VOL_U       &kp C_VOL_UP
#define VOL_D       &kp C_VOL_DN

#define Q_CTL       &mt LCTL Q
#define SEMI_CTL    &mt LCTL SEMI
#define S_GUI       &mt LGUI S
#define E_GUI       &mt LGUI E

#define A_ALT       &mt LALT A
#define O_ALT       &mt LALT O
#define SQT_ALT     &mt LALT SQT

#define BSLH_SHFT   &mt RSHFT BSLH
#define FSLH_SHFT   &mt RSHFT FSLH

&kscan0 {
    debounce-period  = <10>;
};

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <185>;
	retro-tap;
};

/ { 

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <20>;
            key-positions = <12 13>;
            bindings = <&kp TAB>;
        };

        combo_ret {
            timeout-ms = <20>;
            key-positions = <17 18>;
            bindings = <&kp RET>;
        };
        
    };

        keymap {
            compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
            Q_CTL       &kp W       &kp F       &kp P       &kp G 				    &kp J       &kp L       &kp U       &kp Y       SEMI_CTL 
            A_ALT       R_NUM       S_GUI       T_RSE       &kp D 			        &kp H       N_LOW       E_GUI       I_SYM       O_ALT
            &mt LSFT Z  &kp X       &kp C       V_LOW       &kp B                   &kp K       M_RSE       &kp COMMA   &kp DOT     FSLH_SHFT
                                                ESC_LOW     &kp BSPC  				&kp SPC     RET_RSE 
		>;
		};

       		lower {
		bindings = <
            &kp N1      &kp N2      &kp N3      &kp N4      &kp N5  				&kp N6      &kp N7      &kp N8      &kp N9      &kp N0  
            &kp GRAVE   VOL_D       VOL_D       &none       &kp LBRC                &trans      &trans      &trans      &trans      SQT_ALT
            &trans      &trans      &trans      &trans      &kp C_PP                &kp MINUS   &kp EQUAL   &trans      &trans      BSLH_SHFT
                                                &none       &trans  				&trans      ADJUST 
		>;
		};
		
		raise {
		bindings = <
            &kp N1      &kp N2      &kp N3      &kp N4      &kp N5  				&kp N6      &kp N7      &kp N8      &kp N9      &kp N0  
            &trans      &trans      &trans      &trans      &trans 			        &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   SQT_ALT
            &trans      &trans      &trans      &trans      &trans                  &kp MINUS   &kp EQUAL   &trans      &trans      BSLH_SHFT
                                                ADJUST      &trans  				&trans      &none 
		>;
		};	
		
		adjust {
		bindings = <
            &none       &none       &none       &none       &none 				    &none       &none       &none       &none       &none 
            &none       &none       &none       &none       &none 			        &none       &none       &none       &none       &none
            &none       &none       &none       &none       &none                   &none       &none       &none       &none       &none
                                                &none       &none  				    &none       &none 
		>;
		};	
		
		
		numpad {
		bindings = <
            &none       &none       &none       &none       &none 				    &none       &kp N7      &kp N8      &kp N9      &none 
            &none       &none       &none       &none       &none 			        &none       &kp N4      &kp N5      &kp N6      &kp DOT
            &none       &none       &none       &none       &none                   &none       &kp N1      &kp N2      &kp N3      &none
                                                &none       &none  				    &kp N0      &none 
		>;
		};	

		symbol {
		bindings = <
            &none       &none       &kp LBKT    &kp RBKT    &none 				    &none       &none       &none       &none       &none 
            &kp LPAR    &kp RPAR    &kp LBRC    &kp RBRC    &none 			        &none       &none       &none       &none       &none
            &none       &kp MINUS   &kp EQUAL   &kp PLUS    &none                   &none       &none       &none       &none       &none
                                                &none       &none  				    &none       &none 
		>;
		};	
		
	};
};
